@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  height: 10px;
  background: #27272a;

  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 10px;
  background: rgb(63, 63, 70);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
